a, a:focus, a:hover{
    text-decoration: none;
}

a li {
    color: #333;
}

a li:hover{
    background-color: #5bb7b7;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

div.post-score {
    float: left;
}

ul.users, ul.posts, ul.themes, ul.entries {
    list-style-type: none;
    border-top: none;
    padding: 0;
}

div.pagination {
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
}

div.flask-pagedown-preview {
    border: 1px solid #e0e0e0;
    margin: 10px 0;
    padding: 4px;
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

.profile-thumbnail, div.post-thumbnail, div.user-thumbnail, div.theme-thumbnail {
    position: absolute;
}

div.post-tabs, div.user-tabs, div.theme-tabs, div.entry-tabs {
    margin: 16px 0 0;
    border-top: none;
}

li.post, li.user, li.theme, li.entry {
    border-bottom: 1px solid #e0e0e0;
    padding: 8px;
}

ul.posts li.post:hover, ul.users li.user:hover, ul.themes li.theme:hover, ul.entries li.entry:hover {
    background-color: #f0f0f0;
}

div.post-date, div.theme-date {
    float: right;
}

div.post-author, div.user-username, div.theme-author {
    font-weight: 700;
}

div.post-content, div.user-content, div.theme-content  {
    margin-left: 48px;
    min-height: 48px;
}

div.entry-content{
    margin-left: 5px;
    height: 50px;
}

div.post-footer, div.user-footer, div.theme-footer, div.entry-footer {
    text-align: right;
}

div.flask-pagedown-preview h1, .post-body h1 {
    font-size: 140%;
}

div.flask-pagedown-preview h2, .post-body h2 {
    font-size: 130%;
}

div.flask-pagedown-preview h3, .post-body h3 {
    font-size: 120%;
}

div.add-column {
    padding: 10px;
}

div.nav {
    display: inline-block;
    width: 20%;
    margin-left:5%;
}

div.article{
    width: 60%;
    float: right;
    margin: 20px 12% 20px 20px;
}

div.themes-undone, div.themes-done{
    display: inline-table;
    width: 30%;
    margin-right: 40px;
}

form.post {
    margin-top: 20px;
}

div.content {
    width: 80%;
    margin: 0 auto;
}

a.btn {
    margin-left: 5px;
}