<ul class="users">
    {% for user in users %}
    <li class="user">
        <div class="user-thumbnail">
            <a href="{{ url_for('.user', username=user.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=40) }}">
            </a>
        </div>
        <div class="user-content">
            <div class="user-username">
                <a href="{{ url_for('.user', username=user.username) }}">
                    {{ user.username }}
                </a>
            </div>
            <div class="user-about-me">
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            </div>
        </div>
        <div class="user-footer">
            <div class="follow">
                {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                {% if not current_user.is_following(user) %}
                <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary">关注</a>
                {% else %}
                <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-default">取消关注</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>