{% extends "base.html" %}

{% block title %}{{ super() }}栏目列表{% endblock %}

{% block page_content %}
<div class="entry-tabs">
    <ul class="nav nav-tabs">
        <li><a href="#">所有栏目</a></li>
    </ul>
</div>
<ul class="entries">
    {% for column in columns %}
    <li class="entry">
        <div class="entry-content">
            <div class="entry-body">
                        <span class="normal">
                            <div class="column-title" style="display: inline">
                                {{ column.title }}
                            </div>
                            <button>更改</button>
                        </span>
                        <span class="edit">
                            <input class="id" hidden="hidden" value="{{ column.id }}">
                            <input class="title" type="text" value='{{ column.title }}'>
                            <button class="save">保存</button>
                            <button class="cancel">取消</button>
                        </span>
            </div>
            <div class="entry-footer">
                <a href="{{ url_for('.article_list', id=column.id) }}">
                    <span class="label label-primary">文章列表</span>
                </a>
                <a rel="edit" href="javascript:void(0)">
                    <span class="label label-info">编辑</span>
                </a>
                <a rel="update" href="javascript:void(0)">
                    <span class="label label-info">更新</span>
                </a>
                <a rel="cancel" href="javascript:void(0)">
                    <span class="label label-info">取消</span>
                </a>
                <a href="{{ url_for('.column_delete', id=column.id) }}">
                    <span class="label label-warning">删除</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(window).load(function () {
        $(".edit").hide();
    });

    $(".normal button").click(function () {
        $(this).parent().siblings(".edit").toggle();
        $(this).parent().toggle();
    });

    $(".save").click(function () {
        var target = $(this);
        var _id = $(this).siblings(".id");
        console.log(_id);
        console.log(_id.val());
        console.log(_id.attr("value"));
        $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "column_title",
            contentType: "application/json; charset=utf-8",
            data: {
                /*  use attr("value") rather than val(), see also Properties and Attributes in HTML
                    (http://stackoverflow.com/questions/6003819/properties-and-attributes-in-html)
                */
                id: $(this).siblings(".id").attr("value"),
                title: $(this).siblings(".title").val()
            },
            success: function (data) {
                target.parent().siblings(".normal").children(".column-title").text(data.title);
                target.parent().toggle();
                target.parent().siblings(".normal").toggle();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $(".cancel").click(function () {
        $(this).parent().toggle();
        $(this).parent().siblings(".normal").toggle()
    })

</script>
{% endblock %}