{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ super() }}首页{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>你好, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}匿名用户{% endif %}!</h1>
</div>
{% if themes_undone %}
<div class="themes-undone">
    <div class="post-tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                未完成的课题
            </li>
        </ul>
    </div>
    <ul class="list-group">
        {% for theme in themes_undone %}
        {% include '_theme_block.html' %}
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if themes_done %}
<div class="themes-done">
    <div class="post-tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                已完成的课题
            </li>
        </ul>
    </div>
    <ul class="list-group">
        {% for theme in themes_done %}
        {% include '_theme_block.html' %}
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if current_user.role.name == 'Teacher' %}
<div class="theme-tabs">
    <ul class="nav nav-tabs">
        <li><a href="#">所有主题</a></li>
    </ul>
    {% include '_themes.html' %}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
