{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ super() }}主题{% endblock %}

{% block page_content %}
<div class="content">
    {% include '_themes.html' %}
    {% if post %}
    <div class="post-body">
        {% if post.body_html %}
        {{ post.body_html | safe }}
        {% else %}
        {{ post.body }}
        {% endif %}
    </div>
    <div class="post-footer">
        <div class="post-score">
            <span>分数：{{ post.score }}</span>
        </div>
        {% if current_user == post.author %}
        <a href="{{ url_for('.edit', id=post.id) }}">
            <span class="label label-primary">编辑</span>
        </a>
        {% elif current_user.is_administrator %}
        <a href="{{ url_for('.edit', id=post.id) }}">
            <span class="label label-danger">编辑 [管理员]</span>
        </a>
        {% endif %}
    </div>
</div>
{% else %}
<form class="post">
    <div class="form-group form-post">
        {{ wtf.quick_form(form) }}
    </div>
</form>
{% endif %}
</div>
{% endblock %}